
mat.py
__pycache__/MaterialConstant.cpython-38.pyc
mat.py
TransferMatrix.py
__pycache__/MaterialConstant.cpython-38.pyc
k_long
k_short
chek.py
L.npy
n_short
K8_ANSER/alfa
K8_ANSER/f
K8_ANSER/f_max
K8_ANSER/f_min
K8_ANSER/R
K8_ANSER/t
K8_ANSER/t+R
K8_ANSER/T_max
K8_ANSER/T_min
NewWork.py
