
mat.py
__pycache__/MaterialConstant.cpython-38.pyc
mat.py
TransferMatrix.py
__pycache__/MaterialConstant.cpython-38.pyc
k_long
k_short
chek.py
L.npy
n_short
K8_ANSER/alfa
K8_ANSER/f
K8_ANSER/f_max
K8_ANSER/f_min
K8_ANSER/R
K8_ANSER/t
K8_ANSER/t+R
K8_ANSER/T_max
K8_ANSER/T_min
NewWork.py
*.xml
.idea/pythonProject1.iml
.idea/sonarlint/issuestore/index.pb
.idea/workspace.xml
result/TR1_EXP
result/TR3_EXP
result/TR2_EXP
result/TR4_EXP
result/TR6_EXP
TR4_EXP
TR5_EXP
TR6_EXP
*.npy
TR1
TR1
L
res1
